<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="logback.xsd">

	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>info</level>
		</filter>
		<encoder>
			<pattern>%-5level %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="ch.qos.logback" level="warn" />

	<root level="trace">
		<appender-ref ref="Console" />
	</root>
</configuration>
